*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
}

.portal {
  text-indent: -9999em;
}

.portal a {
  background: url('../img/logo-large.png') no-repeat top center;
  background-size: contain;
  display: block;
  height: 40px;
  width: 100%;
}

.mobile-quick-nav {
  color: #00B6EE;
  cursor: pointer;
  display: block;
  float: left;
  padding: 5px 10px;
}

nav::after {
  content: '';
  display: table;
  clear: both;
}

.react-rater a {
  cursor: pointer;
  color: #ccc;
}

.react-rater a.is-active,
.react-rater a.will-be-active {
  color: #fc6;
}