*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
}

.portal {
  text-indent: -9999em;
}

.portal a {
  background: url('../img/logo-large.png') no-repeat top center;
  background-size: contain;
  display: block;
  height: 24px;
  width: 100%;
}