@import '_variables';
@import '_typography';

@reset-global mobile;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /*lost-utility: edit;*/
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

nav {
  background: #fff;
  box-shadow: 0 0 5px color($gray a(-60%));
  clear: fix;
  margin-bottom: 1em;
  padding: 10px 0;
}

.mobile-quick-nav {
  color: $gray;
  cursor: pointer;
  display: block;
  lost-column: 2/12 0 0;
  padding: 10px 15px 10px 0;
  transition: all 0.3s ease-out;
}

.mobile-quick-nav:hover {
  color: $darker-gray;
}

.mobile-chevron {
  border-style: solid;
  border-width: 4px 0 0 4px;
  height: 12px;
  position: relative;
  top: 1px;
  width: 12px;
  transform: rotate(-45deg);

  @media mq('small') {
    content: 'Back';
  }
}

.mobile-chevron.chevron-left {
  display: inline-block;
}

.portal {
  lost-column: 8/12 0 0;
  text-indent: -9999em;
}

.portal a {
  background: url('../img/logo-small.png') no-repeat center center transparent;
  background-size: 175px 27px;
  display: block;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  width: 100%;

  @media mq('small') {
    background-image: url('../img/logo-large.png');
    background-size: 220px 34px;
  }
}

.portal a:hover {
  box-shadow: inset 0 0 100px 100px color(#fff a(50%));
}


.grid-title {
  border-bottom: solid 1px $lighter-gray;
  color: $light-gray;
  font-size: 0.85em;
  letter-spacing: 3px;
  margin-bottom: 2em;
  padding: 10px 0;
  text-transform: uppercase;
}

.grid-container {
  lost-utility: clearfix;
}

.grid-links {
  list-style-type: none;  
  text-align: center;
  height: 100%;

  @media mq('small') {
    lost-center: 480px;
  }

  @media mq('medium') {

  }
}

.grid-links-block {
  background: $lighter-gray;
  border: solid 1px #fff;
  lost-waffle: 1/3 3 0;
  margin-left: -1px;

  @media mq('small') {
    /*lost-waffle: 1/4 4 0;*/
  }
}

.grid-links-block:nth-child(3n) {
  float: left;
}

.grid-links-block a {
  color: $gray;
  display: block;
  font-size: 0.85em;
  height: 100px;
  transition: all 0.3s ease-out;

  @media mq('small') {
    height: 120px;
  }
}

.grid-links-block a:hover {
  background: #fff;
  color: $dark-gray;
}

.grid-link-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.grid-link-icon,
.grid-link-name {
  display: block;
}

.grid-link-icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: grayscale(100%);
  font-size: 3em;
  font-weight: $bold-weight;
  height: 48px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
  width: auto;
}

.grid-links-block:hover .grid-link-icon {
  filter: grayscale(0);
}

.grid-link-icon-sub {
  background-image: url('../img/placeholder-picture.svg');
}

.grid-link-icon-cheese {
  background-image: url('../img/cheese.svg');
}

.grid-link-icon-olives {
  background-image: url('../img/olives.svg');
}

.grid-link-icon-chocolate {
  background-image: url('../img/chocolate.svg');
}

.grid-link-icon-wine {
  background-image: url('../img/wine.svg');
}

.grid-link-icon-beer {
  background-image: url('../img/beer.svg');
}

.grid-link-icon-charcuterie {
  background-image: url('../img/salami.svg');
}

.grid-link-icon-coffee {
  background-image: url('../img/coffee.svg');
}

.react-rater a {
  cursor: pointer;
  color: #ccc;
}

.react-rater a.is-active,
.react-rater a.will-be-active {
  color: #fc6;
}