@import '_variables';
@import '_typography';

@reset-global mobile;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /*lost-utility: edit;*/
}

.container {
  lost-utility: clearfix;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;
  position: relative;
  /*overflow: hidden;*/
}

nav {
  background: #fff;
  box-shadow: 0 0 5px color($gray a(-60%));
  clear: fix;
  margin-bottom: 1em;
  padding: 10px 0;
  position: relative;
  z-index: 100;
}

.mobile-quick-nav {
  color: $gray;
  cursor: pointer;
  display: block;
  lost-column: 2/12 0 0;
  padding: 10px 15px 10px 0;
  transition: all 0.3s ease-out;
}

.mobile-quick-nav:hover {
  color: $darker-gray;
}

.mobile-nav-left {
  text-align: left;
}

.mobile-nav-right {
  text-align: right;
}

.mobile-chevron {
  border-style: solid;
  border-width: 4px 0 0 4px;
  height: 12px;
  position: relative;
  top: 1px;
  width: 12px;
  transform: rotate(-45deg);
}

.mobile-chevron.chevron-left {
  display: inline-block;
}

.mobile-account-nav,
.mobile-account-subnav {
  list-style-type: none;
}

.mobile-account-nav {
  position: relative;
}

.mobile-account-subnav {
  display: none;
  position: absolute;
  top: 36px;
  right: -20px;
  transition: all 0.3s ease-out;
}

.mobile-account-subnav.active {
  background: #fff;
  border: solid 1px $lightest-gray;
  border-top-color: #fff;
  border-radius: 0 0 5px 5px;
  display: block;
  min-width: 120px;
  padding: 20px 0;
  text-align: center;
}

.mobile-account-subnav li {
  padding: 10px 20px;
  transition: all 0.3s ease-out;
}

.mobile-account-subnav li:hover {
  background: $lightest-gray;
}

.portal {
  lost-column: 8/12 0 0;
  text-indent: -9999em;
}

.portal a {
  background: url('../img/logo-small.png') no-repeat center center transparent;
  background-size: 175px 27px;
  display: block;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  width: 100%;

  @media mq('small') {
    background-image: url('../img/logo-large.png');
    background-size: 220px 34px;
  }
}

.portal a:hover {
  box-shadow: inset 0 0 100px 100px color(#fff a(50%));
}

.content {
  lost-center: 360px;
}

.grid-title {
  border-bottom: solid 1px $lighter-gray;
  color: $gray;
  font-size: 0.85em;
  letter-spacing: 3px;
  margin-bottom: 2em;
  padding: 10px 0;
  text-transform: uppercase;
}

.grid-container {
  lost-utility: clearfix;
}

.grid-links {
  list-style-type: none;  
  text-align: center;
  height: 100%;

  @media mq('small') {
    lost-center: 480px;
  }

  @media mq('medium') {

  }
}

.grid-links-block {
  background: transparent;
  border: solid 1px #fff;
  lost-waffle: 1/3 3 0;
  margin-left: -1px;

  @media mq('small') {
    /*lost-waffle: 1/4 4 0;*/
  }
}

.grid-links-block:nth-child(3n) {
  float: left;
}

.grid-links-block a {
  color: $gray;
  display: block;
  font-size: 0.85em;
  height: 120px;
  transition: all 0.3s ease-out;

  @media mq('small') {
    height: 140px;
  }
}

.grid-links-block a:hover {
  background: #fff;
  color: $dark-gray;
}

.grid-link-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.grid-link-icon,
.grid-link-name {
  display: block;
}

.grid-link-icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: grayscale(100%);
  font-size: 3em;
  font-weight: $bold-weight;
  height: 64px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
  width: auto;
}

.grid-links-block:hover .grid-link-icon {
  filter: grayscale(0);
}

.grid-link-icon-sub {
  background-image: url('../img/placeholder-picture.svg');
}

.grid-link-icon-cheese {
  background-image: url('../img/cheese.svg');
}

.grid-link-icon-olives {
  background-image: url('../img/olives.svg');
}

.grid-link-icon-chocolate {
  background-image: url('../img/chocolate.svg');
}

.grid-link-icon-wine {
  background-image: url('../img/wine.svg');
}

.grid-link-icon-beer {
  background-image: url('../img/beer.svg');
}

.grid-link-icon-charcuterie {
  background-image: url('../img/salami.svg');
}

.grid-link-icon-coffee {
  background-image: url('../img/coffee.svg');
}

.grid-link-icon-cocktails {
  background-image: url('../img/glass.svg');
}

.grid-link-icon-olive-oil {
  background-image: url('../img/olive-oil.svg');
}

.react-rater {
  margin-bottom: 20px;
  text-align: center;
}

.react-rater a {
  cursor: pointer;
  color: $gray;
  font-size: 2em;
  padding: 10px 5px;
}

.react-rater a.is-active,
.react-rater a.will-be-active {
  color: #fc6;
}

.react-rater a.read-only {
  cursor: default;
}

.entry-list {
  list-style-type: none;
}

.entry-listing {
  border-bottom: solid 1px $lightest-gray;
  margin-bottom: 20px;
}

.entry-listing-header {
  lost-utility: clearfix;
}

.entry-listing-title {
  lost-column: 8/12;
  margin: 0;
}

.entry-listing-timestamp {
  color: $light-gray;
  lost-column: 4/12;
  text-align: right;
}

.entry-listing-rating {
  margin-bottom: 0;
  text-align: left;
}

.entry-listing-rating a {
  font-size: 1.2em;
  padding: 5px 0;
}

.entry-listing-notes {
  white-space: pre-line;
}

.detail-header {
  margin-bottom: 20px;
}




/* React-Redux Modal overrides */
.react-redux-modal {
  font: inherit;
  box-sizing: inherit;
}

.rrm-content {
  box-shadow: 0 0 10px color(#000 a(-85%)) !important;
  width: 90%;

  @media mq('small') {
    width: 60%;
  }

  @media mq('medium') {
    width: 40%;
  }
}

.react-redux-modal button:focus {
  outline: 0;
}

.react-redux-modal .rrm-holder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.react-redux-modal .rrm-holder .scroll {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  z-index: 1;
}

.react-redux-modal .rrm-holder .scroll .rrm-content {
  z-index: 1;
  background-color: $lightest-gray;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px color(#000 a(-85%));
  margin: 80px auto;
  overflow: hidden;
}

.react-redux-modal .rrm-holder .scroll .rrm-content.m-small {
  width: 300px;
}

.react-redux-modal .rrm-holder .scroll .rrm-content.m-small .rrm-title h2 {
  width: 140px;
}

.react-redux-modal .rrm-holder .scroll .rrm-content.m-medium {
  width: 500px;
}

.react-redux-modal .rrm-holder .scroll .rrm-content.m-medium .rrm-title h2 {
  width: 340px;
}

.react-redux-modal .rrm-holder .scroll .rrm-content.m-large {
  width: 800px;
}

.react-redux-modal .rrm-holder .scroll .rrm-content.m-large .rrm-title h2 {
  width: 640px;
}

.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title {
  width: 100%;
  height: auto;
  position: relative;
}

.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title h2 {
  float: left;
  font-size: 2em;
  height: 60px;
  line-height: 2;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  float: right;
}

.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions button {
  width: 40px;
  height: 40px;
  margin: 10px 8px;
  line-height: 40px;
  position: relative;
  border: 1px solid transparent;
  /*float: right;*/
  background-color: transparent;
  text-align: center;
  padding: 0;
  font-size: 1.5em;
  color: $gray;
}

.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions button:hover {
  color: $dark-gray;
  cursor: pointer;
}

.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-body {
  width: 100%;
  padding: 20px;
}

.react-redux-modal .rrm-holder .rrm-shadow {
  width: 100%;
  height: 100%;
  background-color:color(#000 a(-25%));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}


input, textarea {
  background: #fff;
  border: solid 1px $light-gray;
  border-radius: 3px;
  color: inherit;
  font: inherit;
  padding: 10px;
  line-height: inherit;
  width: 100%;
}

textarea {
  resize: vertical;
}

.form-container input,
.form-container textarea {
  display: block;
  margin-bottom: 20px;
}

.form-container textarea {
  min-height: 120px;
}

.btn {
  background: transparent;
  border: solid 1px transparent;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  transition: all 0.3s ease-out;
  width: 100%;

  @media mq('small') {
    width: auto;
  }
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: $blue;
  color: #fff;
}

.btn-primary:hover {
  background-color: color($blue l(-10%) s(-5%));
}

.add-new-block {
  background: $lighter-gray;
  border: solid 1px $light-gray;
  color: $gray;
  padding: 20px;
  text-align: center;
}

.breadcrumbs-separator {
  font-size: 1.2em;
}


.fade-in-enter {
  opacity: 0;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.fade-in-leave {
  opacity: 1;
}

.fade-in-leave.fade-in-leave-active {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.fade-in-appear {
  opacity: 0;
}

.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  transition: all 0.3s ease-out;
}


.spinner {
  background: url('../img/spinner.gif') center center no-repeat transparent;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}